<h4 class="space">Iris Model</h4>
<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
  <mat-step [stepControl]="model" >
    <form [formGroup]="model">
      <ng-template matStepLabel>Train Classification Model: {{(model.valueChanges | async)?.cparam || model.controls.cparam.value}}</ng-template>
      <mat-form-field>
        <mat-label>C Parameter</mat-label>
        <input matInput type="number" formControlName="cparam" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext (click)="trainModel()">Save and train model</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Training Accuracy: {{ svcResult?.accuracy ? svcResult?.accuracy || 0 : '?'}} %</ng-template>
    <div class="space">
      <mat-label *ngIf="svcResult?.accuracy; else loading">{{svcResult?.accuracy || 0}} % accuracy</mat-label>
      <ng-template #loading>loading...</ng-template>
      <div>
        <button mat-button matStepperPrevious>Back</button><button mat-button matStepperNext>Accept</button>
      </div>

    </div>
  </mat-step>

  <mat-step [stepControl]="iris">
    <form [formGroup]="iris">
      <ng-template matStepLabel>Predict Iris classes</ng-template>
      <div class="space">
        <mat-label>Define Iris</mat-label>
        <div fxLayout="row ">
          <mat-form-field appearance="fill">
            <mat-label>Sepal width</mat-label>
            <input matInput placeholder="Sepal width" formControlName="sepalWidth">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Sepal length</mat-label>
            <input matInput placeholder="Sepal length" formControlName="sepalLength">
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field appearance="fill">
            <mat-label>Petal width</mat-label>
            <input matInput placeholder="Petal width" formControlName="petalWidth">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Petal length</mat-label>
            <input matInput placeholder="Petal length" formControlName="petalLength">
          </mat-form-field>
        </div>
      </div>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="predictIris()">Predict iris</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Prediction Result</ng-template>
    <div class="space">
      <ngx-charts-pie-chart
        [results]="probabilityPredictions"
        [scheme]="colorScheme"
        [labels]="true"
        [legend]="true">
      </ngx-charts-pie-chart>
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="reset(); stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>

