<div fxLayoutAlign="center center" fxLayout="column">
  <h1>Iris Model - Example</h1>

  <div class="home__training">
    <h3>Train Classification Model (Support Vector Machine)</h3>
    <mat-card fxLayoutAlign="center center" fxLayout="column">
      <h4>Set Parameter for Model Training</h4>
      <mat-form-field appearance="fill">
        <mat-label>C Parameter</mat-label>
        <input matInput placeholder="C Parameter" [(ngModel)]="svcParameters.C">
      </mat-form-field>
      <button mat-raised-button (click)="trainModel()">Train model</button>
    </mat-card>

    <div *ngIf="svcResult"
         fxLayoutAlign="center center"
         fxLayout="column">
      <h4>Training Accuracy</h4>
      <ngx-charts-linear-gauge
        *ngIf="svcResult?.accuracy"
        [view]="[300, 100]"
        [value]="svcResult.accuracy || 0"
        [scheme]="colorScheme"
        [min]="0"
        [max]="100"
        [units]="'% accuracy'">
      </ngx-charts-linear-gauge>
    </div>
  </div>

  <div class="home__prediction"
       fxLayoutAlign="center center"
       fxLayout="column">
    <h3>Predict Iris classes</h3>

    <mat-card fxLayoutAlign="center center" fxLayout="column">
      <h4>Define Iris</h4>
      <div fxLayout="row">
        <mat-form-field appearance="fill">
          <mat-label>Sepal width</mat-label>
          <input matInput placeholder="Sepal width" [(ngModel)]="iris.sepalWidth">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Sepal length</mat-label>
          <input matInput placeholder="Sepal length" [(ngModel)]="iris.sepalLength">
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-form-field appearance="fill">
          <mat-label>Petal width</mat-label>
          <input matInput placeholder="Petal width" [(ngModel)]="iris.petalWidth">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Petal length</mat-label>
          <input matInput placeholder="Petal length" [(ngModel)]="iris.petalLength">
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button (click)="predictIris()">Predict iris</button>
      </div>
    </mat-card>

    <div *ngIf="probabilityPredictions"
         fxLayoutAlign="center center"
         fxLayout="column"
         class="home__chart-container">
      <h4>Prediction Result</h4>
      <ngx-charts-pie-chart
        [results]="probabilityPredictions"
        [scheme]="colorScheme"
        [labels]="true"
        [legend]="true">
      </ngx-charts-pie-chart>
    </div>
  </div>
</div>
